@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom base styles */
@layer base {
  body {
    @apply transition-colors duration-200;
  }
}
@keyframes gradient-pulse {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient-pulse {
  animation: gradient-pulse 15s ease infinite;
  background-size: 200% 200%;
}